html,
body,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
img,
pre,
form,
fieldset {
  margin: 0;
  padding: 0;
}
img,
fieldset {
  border: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857142857143;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-decoration-skip-ink: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: 0 0;
}
